* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../bg/background-tet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    height: 1170px;
    margin: 0 auto;
}

.mt-1r {
    margin-top: 1rem;
}

.text-color {
    color: yellow;
    font-size: 18px;
    font-weight: 700;
}
.position-r {
    position: relative;
}

#audio {
    display: none;   
}

.btn-off {
    z-index: 1;
    display: flex;
    float: right;
    height: 30px;
    width: 180px;
    border-radius: 18px;
    border: 3px dashed pink;
    padding: 18px 16px;
    justify-content: center;
    align-items: center;
    background-image: url(../bg/bg-luck-money.jpg);
    background-position: center;
    animation: cloud 2s infinite ease-in-out;
}

.input-custom {
    background-image: url(../bg/bg-luck-money.jpg);
    background-position: center;
    border: 3px dashed pink;
    padding: 8px;
    border-radius: 16px;
    animation: cloud 2s infinite ease-in-out;
}
option {
    background-color: rgb(225, 72, 72);
    border-radius: 8px;
}
.cloud-right {
    z-index: 2;
    position: absolute;
    right: 274px;
    top: 44px;
    height: 71px;
    animation: cloud 2s infinite ease-in-out;
}
.cloud-left {
    z-index: 2;
    position: absolute;
    left: 400px;
    top: 40px;
    height: 85px;
    animation: cloud 2s infinite ease-in-out;
}

/* animation */
@keyframes cloud {
    0%, 100% {
        transform: translateY(0);
    }50% {
        transform: translateY(3px);
    }
}